* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  align-items: center;
  padding: 15px; }
  header .navbarLogo {
    max-width: 5rem;
    margin-left: 40px; }
  header .navbarNavegacion {
    display: flex;
    justify-content: space-between;
    gap: 2rem; }
    header .navbarNavegacion li {
      transition: all 200ms ease-in-out; }
      header .navbarNavegacion li:hover {
        transform: scale(1.2); }
    header .navbarNavegacion a {
      color: #b2b2b2;
      transition: all 200ms ease-in-out;
      border-bottom: 2px solid #b2b2b2;
      text-decoration: none;
      font-size: 16px; }
      header .navbarNavegacion a:hover {
        color: white;
        border-color: red; }
  header .abrirMenu,
  header .cerrarMenu {
    display: none; }
  @media screen and (max-width: 850px) {
    header .abrirMenu,
    header .cerrarMenu {
      display: block;
      border: 0;
      font-size: 1.25rem;
      color: white;
      background-color: transparent;
      cursor: pointer; }
    header .navbar {
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #3c3c3c;
      padding: 2rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); }
    header .navbar.visible {
      opacity: 1;
      visibility: visible; }
    header .navbarNavegacion {
      flex-direction: column;
      align-items: end; }
      header .navbarNavegacion a {
        color: #b0b0b0; }
        header .navbarNavegacion a:hover {
          color: white; } }

.inicio {
  background-color: black; }
  .inicio .inicioFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px; }
    .inicio .inicioFlex .inicioPresentacion {
      color: white;
      width: 50%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      .inicio .inicioFlex .inicioPresentacion h1 {
        text-align: center;
        padding-bottom: 15px;
        font-size: 45px; }
      .inicio .inicioFlex .inicioPresentacion p {
        width: 65%;
        text-align: center;
        padding-top: 15px;
        font-size: 25px; }
    .inicio .inicioFlex .inicioImg {
      width: 50%; }
      .inicio .inicioFlex .inicioImg .imagenIni {
        width: 80%;
        border-radius: 20px;
        border: solid 1px white; }
  @media screen and (max-width: 1150px) {
    .inicio .inicioFlex {
      flex-flow: column nowrap; }
      .inicio .inicioFlex .inicioImg {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 15px; }
        .inicio .inicioFlex .inicioImg .imagenIni {
          width: 80%; }
      .inicio .inicioFlex .inicioPresentacion {
        width: 100%; }
        .inicio .inicioFlex .inicioPresentacion p {
          width: 100%;
          padding-top: 15px; } }

.sobreNosotros {
  background-color: black; }
  .sobreNosotros .sobreNosotrosFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px; }
    .sobreNosotros .sobreNosotrosFlex .sobreNosotrosPresentacion {
      color: white;
      width: 50%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      .sobreNosotros .sobreNosotrosFlex .sobreNosotrosPresentacion h1 {
        text-align: center;
        padding-bottom: 15px;
        font-size: 45px; }
      .sobreNosotros .sobreNosotrosFlex .sobreNosotrosPresentacion p {
        width: 65%;
        text-align: center;
        padding-top: 15px;
        font-size: 25px; }
    .sobreNosotros .sobreNosotrosFlex .sobreNosotrosImg {
      width: 50%; }
      .sobreNosotros .sobreNosotrosFlex .sobreNosotrosImg img {
        width: 80%;
        border-radius: 20px;
        border: solid 1px white; }

.linea {
  color: black; }
